.post-type-people #titlediv {
	display: none;
}

#berkeley-color-settings .genesis-layout-selector label.box {
	max-height: inherit;
}

.genesis-layout-selector label.box {
	padding: 5px;
}

table .genesis-layout-selector label.box.selected {
	border: 3px solid #3b7ea1;
}

.be-logo-preview {
	height: 26px;
	width: 240px;
	padding: 20px;
	border: 2px solid #999;
}

.be-logo-preview img {
	display: block;
	max-width: 100%;
}

div#widgets-right .widgets-sortables {
	margin-bottom: 0;
	padding: 0 8px 9px;
}

.sidebar-full {
    background-color: #cfe1ef !important;
}

.sidebar-morethanfull {
    background-color: #c43 !important;
}

i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}