/* # Classic */
.classic.light .site-header, .classic.light .site-footer, .classic.light .site-title a, .classic.light .site-title a:hover, .classic.light .site-title a:focus, .classic.light .site-description { color: #003262; }

.classic .site-title a, .classic .site-title a:hover, .classic .site-title a:focus, .classic .site-footer a { color: #fdb515; }

.classic .site-description { color: #fff; }

.classic.light .site-footer a:hover, .classic.light .sidebar .widget_nav_menu a:hover, .classic.light .sidebar .widget_nav_menu a:focus { color: #00b0da; }

.classic .genesis-nav-menu a, .classic .genesis-nav-menu .sub-menu a, .classic.light .site-footer a, .classic.light .sidebar .widget.widget_nav_menu, .classic.light .sidebar .widget_nav_menu, .classic.light .sidebar .widget_nav_menu a { color: #3b7ea1; }

.classic .nav-primary, .classic .nav-primary .genesis-nav-menu .sub-menu, .classic .archive-pagination li a:hover, .classic .archive-pagination li a:focus, .classic .archive-pagination .active a { background-color: #3b7ea1; }

.classic .nav-primary .genesis-nav-menu a, .classic .nav-primary .genesis-nav-menu .sub-menu a, .classic .site-footer .genesis-nav-menu .footer-menu a, .classic .sidebar .widget.widget_nav_menu, .classic .sidebar .widget_nav_menu, .classic .sidebar .widget_nav_menu a, .classic .site-header .widget-area .select-menu, .classic .site-header .widget-area .select-menu option, .classic button.menu-toggle, .classic button.sub-menu-toggle, .classic button.menu-toggle:hover, .classic button.sub-menu-toggle:hover, .classic .footer-widgets button:hover, .classic .footer-widgets input:hover[type="button"], .classic .footer-widgets input:hover[type="reset"], .classic .footer-widgets input:hover[type="submit"], .classic .footer-widgets .button:hover, .classic button.menu-toggle:focus, .classic button.sub-menu-toggle:focus, .classic .footer-widgets button:focus, .classic .footer-widgets input:focus[type="button"], .classic .footer-widgets input:focus[type="reset"], .classic .footer-widgets input:focus[type="submit"], .classic .footer-widgets .button:focus { background-color: #3b7ea1; color: #fff; }

.classic .nav-primary .genesis-nav-menu a:hover, .classic .nav-primary .genesis-nav-menu .current-menu-item > a, .classic .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover, .classic .genesis-nav-menu a:hover, .classic .genesis-nav-menu .current-menu-item > a, .classic .genesis-nav-menu .sub-menu .current-menu-item > a:hover, .classic .sidebar .widget_nav_menu a:hover, .classic .site-footer .genesis-nav-menu .footer-menu a:hover, .classic .nav-primary .genesis-nav-menu a:focus, .classic .nav-primary .genesis-nav-menu .current-menu-item > a, .classic .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:focus, .classic .genesis-nav-menu a:focus, .classic .genesis-nav-menu .current-menu-item > a, .classic .genesis-nav-menu .sub-menu .current-menu-item > a:focus, .classic .sidebar .widget_nav_menu a:focus, .classic .site-footer .genesis-nav-menu .footer-menu a:focus, .classic .author-box a { color: #fdb515; }

.classic .nav-secondary { background-color: #fff; }

.classic .nav-secondary .genesis-nav-menu a, .classic .nav-secondary .genesis-nav-menu .sub-menu a { color: #c4820e; }

.classic .genesis-nav-menu .sub-menu a { background-color: #fff; border-color: #2d617c; }

.classic .sidebar .widget_nav_menu li { border-color: #2d617c; }

.classic .site-footer .genesis-nav-menu .footer-menu .social-icon a { background-color: #fdb515; color: #fff; }

.classic .site-footer .genesis-nav-menu .footer-menu .social-icon a:hover, .classic .site-footer .genesis-nav-menu .footer-menu .social-icon a:focus { color: #003262; }

.classic .wgs_wrapper input.gsc-search-button, .classic .widget_wgs_widget input.gsc-search-button { background-color: #fdb515; color: #003262; border: 4px #fdb515; }

.classic .wgs_wrapper input.gsc-search-button:hover, .classic .wgs_wrapper input.gsc-search-button:focus, .classic .widget_wgs_widget input.gsc-search-button:hover, .classic .widget_wgs_widget input.gsc-search-button:focus { background-color: #003262; color: #fff; border: 4px #003262; }

.classic button, .classic input[type="button"], .classic input[type="reset"], .classic input[type="submit"], .classic .button { background-color: #fdb515; color: #003262; }

.classic .footer-widgets button, .classic .footer-widgets input[type="button"], .classic .footer-widgets input[type="reset"], .classic .footer-widgets input[type="submit"], .classic .footer-widgets .button, .classic .archive-pagination li a { background-color: #003262; color: #fff; }

.classic button:hover, .classic input:hover[type="button"], .classic input:hover[type="reset"], .classic input:hover[type="submit"], .classic .button:hover, .classic button:focus, .classic input:focus[type="button"], .classic input:focus[type="reset"], .classic input:focus[type="submit"], .classic .button:focus { background-color: #c4820e; color: #000; }

.classic .entry-content .button:hover, .classic .entry-content .button:focus { color: #fff; }

.classic tbody { border-bottom: 1px solid #fae4bd; }

.classic td, .classic th { border-top: 1px solid #fae4bd; }

.classic tr:nth-child(odd) th, .classic tr:nth-child(odd) td, .classic .accordion-toggle:nth-of-type(even), .classic .accordion-content:nth-of-type(even), .classic .bypostauthor { background-color: #fff5df; }

.classic thead tr:nth-child(odd) th, .classic tfoot tr:nth-child(odd) th { background-color: #fed57a; }

.classic .accordion-toggle:nth-of-type(odd), .classic .accordion-content:nth-of-type(odd) { background-color: #fed57a; color: #003262; }

.classic .author-box, .classic .sidebar .widget.widget_wgs_widget, .classic .sidebar .widget.widget_search, .classic .sidebar .widget.widget_search .widget-title, .classic .sidebar .widget.widget_wgs_widget .widget-title, .classic .sidebar .widget form { background-color: #003262; color: #fff; }

.classic .sidebar .widget form.search-form, .classic .sidebar .widget.widget_wgs_widget form { background-color: inherit; color: inherit; }

.classic .pullquote, .classic .sidebar .widget.bold { background-color: #c4820e; color: #fff; }

.classic .sidebar .widget.bold a { color: #ddd5c7; }

.classic .sidebar .widget.bold a.button { background-color: #fdb515; color: #003262; }

.classic .sidebar .widget.subtle, .classic .content .stickies .entry.sticky, .classic.blog .entry.sticky { background-color: #fff5df; color: #003262; }

.classic #genesis-footer-widgets .widget, .classic #genesis-footer-widgets .widget.index-1, .classic #genesis-footer-widgets .widget.index-5, .classic #genesis-footer-widgets .widget.index-9 { background-color: #ba571b; color: #fff; }

.classic #genesis-footer-widgets .widget.index-2, .classic #genesis-footer-widgets .widget.index-6, .classic #genesis-footer-widgets .widget.index-2 .widget-title, .classic #genesis-footer-widgets .widget.index-6 .widget-title { background-color: #e7a002; color: #fff; }

.classic #genesis-footer-widgets .widget.index-3, .classic #genesis-footer-widgets .widget.index-7 { background-color: #b1750d; color: #fff; }

.classic #genesis-footer-widgets .widget.index-4, .classic #genesis-footer-widgets .widget.index-8 { background-color: #367292; color: #fff; }

.classic #genesis-footer-widgets .widget a, .classic #genesis-footer-widgets .widget.index-1 a, .classic #genesis-footer-widgets .widget.index-5 a, .classic #genesis-footer-widgets .widget.index-9 a, .classic #genesis-footer-widgets .widget.index-3 a, .classic #genesis-footer-widgets .widget.index-7 a, .classic #genesis-footer-widgets .widget.index-4 a, .classic #genesis-footer-widgets .widget.index-8 a { color: #fee2a3; }

.classic #genesis-footer-widgets .widget.index-2 a, .classic #genesis-footer-widgets .widget.index-6 a { color: #003262; }

.classic.light #genesis-footer-widgets .widget.index-1, .classic.light #genesis-footer-widgets .widget.index-5, .classic.light #genesis-footer-widgets .widget.index-9 { background-color: #003262; color: #fff; }

.classic.light #genesis-footer-widgets .widget.index-1 a, .classic.light #genesis-footer-widgets .widget.index-5 a, .classic.light #genesis-footer-widgets .widget.index-9 a { color: #fdb515; }
