$blue: 					#003262;
$gold: 					#fdb515;
$founders-rock: 		#3b7ea1;
$medalist: 				#c4820e;
$wellman-tile: 			#d9661f;
$rose-garden:			#ee1f60;
$golden-gate:			#ed4e33;
$south-hall:			#6c3302;
$bay-fog:				#ddd5c7;
$lawrence:				#00b0da;
$lap-lane:				#00a598;
$pacific:				#46535e;
$sather-gate:			#b9d3b6;
$ion:					#cfdd45;
$soybean:				#859438;
$stone-pine:			#584f29;
$light-gray:			#eee;
$med-gray:				#888;
$super-light-gray:		#f0f0f0;

/* # Pacific */

.pacific .site-header .widget-area .select-menu,
.pacific .site-header .widget-area .select-menu select {
	background-image: url(../images/down-arrow.png);
	background-position: 88% 0;
	background-repeat: no-repeat;
	background-color: $super-light-gray;
	color: #000;
}

.pacific.light .site-header .widget-area .select-menu,
.pacific.light .site-header .widget-area .select-menu select {
	background-image: url(../images/down-arrow.png);
	background-position: 88% 0;
	background-repeat: no-repeat;
	background-color: $pacific;
	color: #fff;
}

.pacific .site-header .widget-area .select-menu option {
	border: none;
}

.pacific .site-header,
.pacific .site-footer {
	background-color: $pacific;
}

.pacific .site-header a,
.pacific .site-header a:hover {
	color: #fff;
}

.pacific .site-footer a {
	color: $bay-fog;
}

.pacific .site-description {
	color: $bay-fog;
}

.pacific .archive-pagination li a {
	background-color: $med-gray;
	color: #fff;
}

.pacific .archive-pagination li a:hover,
.pacific .archive-pagination .active a {
	background-color: $pacific;
}

.pacific .content .stickies .entry.sticky,
.pacific.blog .entry.sticky {
	background-color: $light-gray;
	color: $pacific;
}

.pacific .pullquote {
	background-color: $bay-fog;
	color: $stone-pine;
}

.pacific .sidebar .widget.bold {
	background-color: $med-gray;
	color: #fff;
}

.pacific .sidebar .widget.bold a.button {
	background-color: $light-gray;
	color: $founders-rock;
}

.pacific .sidebar .widget.subtle {
	background-color: $light-gray;
	color: $pacific;
}

.pacific .genesis-nav-menu a {
	color: $pacific;
}

.pacific .genesis-nav-menu a:hover,
.pacific .genesis-nav-menu .current-menu-item > a,
.pacific .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $lawrence;
}

.pacific .nav-primary {
	background-color: $light-gray;
}

.pacific button.menu-toggle,
.pacific button.sub-menu-toggle,
.pacific button.menu-toggle:hover,
.pacific button.sub-menu-toggle:hover,
.pacific .nav-primary .genesis-nav-menu a {
	background-color: $light-gray;
	color: $pacific;
}

.pacific .nav-primary .genesis-nav-menu .sub-menu a {
	color: $pacific;
}

.pacific .nav-primary .genesis-nav-menu a:hover,
.pacific .nav-primary .genesis-nav-menu .current-menu-item > a,
.pacific .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $lawrence;
}

.pacific .nav-primary .genesis-nav-menu .sub-menu a {
	background-color: $light-gray;
	border: 1px solid darken($light-gray, 10%);
	border-top: none;
}

.pacific .genesis-nav-menu > .right {
	color: #fff;
}

.pacific .sidebar .widget.widget_nav_menu,
.pacific .sidebar .widget_nav_menu,
.pacific .sidebar .widget_nav_menu a {
	background-color: $light-gray;
	color: $pacific;
}

.pacific .sidebar .widget_nav_menu a:hover {
	color: $lawrence;
}

.pacific .sidebar .widget_nav_menu li {
	border-color: darken($light-gray, 10%);
}

.pacific .site-footer .genesis-nav-menu .footer-menu a {
	background-color: $light-gray;
	color: $pacific;
}

.pacific .site-footer .genesis-nav-menu .footer-menu a:hover {
	color: $lawrence;
}

.pacific .site-footer .genesis-nav-menu .footer-menu .social-icon {
	background-color: $pacific;
}

.pacific .site-footer .genesis-nav-menu .footer-menu .social-icon a {
	background-color: $bay-fog;
	color: $pacific;
}

.pacific .site-footer .genesis-nav-menu .footer-menu .social-icon a:hover {
	color: $lawrence;
}

.pacific button,
.pacific input[type="button"],
.pacific input[type="reset"],
.pacific input[type="submit"],
.pacific .button,
.pacific .footer-widgets button,
.pacific .footer-widgets input[type="button"],
.pacific .footer-widgets input[type="reset"],
.pacific .footer-widgets input[type="submit"],
.pacific .footer-widgets .button {
	background-color: $founders-rock;
	color: #fff;
}

.pacific button:hover,
.pacific input:hover[type="button"],
.pacific input:hover[type="reset"],
.pacific input:hover[type="submit"],
.pacific .button:hover {
	background-color: $lawrence;
	color: #fff;
}

.pacific .entry-content .button:hover {
	color: #fff;
}

.pacific .footer-widgets button:hover,
.pacific .footer-widgets input:hover[type="button"],
.pacific .footer-widgets input:hover[type="reset"],
.pacific .footer-widgets input:hover[type="submit"],
.pacific .footer-widgets .button:hover {
	background-color: #fff;
	color: $pacific;
}

.pacific .author-box {
	background-color: $pacific;
	color: #fff;
}

.pacific .author-box a {
	color: $sather-gate;
}

.pacific .sidebar .widget.widget_search, 
.pacific .sidebar .widget.widget_search .widget-title,
.pacific .sidebar .widget form {
	background-color: $pacific;
	color: #fff;
}

.pacific .sidebar .widget form.search-form {
	background-color: inherit;
	color: inherit;
}

.pacific tbody {
	border-bottom: 1px solid #ddd;
}

.pacific td,
.pacific th {
	border-top: 1px solid #ddd;
}

.pacific tr:nth-child(odd) th,
.pacific tr:nth-child(odd) td {
	background-color: $super-light-gray;
}

.pacific thead tr:nth-child(odd) th,
.pacific tfoot tr:nth-child(odd) th {
	background-color: darken($super-light-gray, 10%);
}


.pacific .accordion-toggle:nth-of-type(even),
.pacific .accordion-content:nth-of-type(even) {
	background-color: $super-light-gray;
}

.pacific .accordion-toggle:nth-of-type(odd),
.pacific .accordion-content:nth-of-type(odd) {
	background-color: darken($super-light-gray, 10%);
	color: $pacific;
}

.pacific #genesis-footer-widgets .widget,
.pacific #genesis-footer-widgets .widget.index-1,
.pacific #genesis-footer-widgets .widget.index-5,
.pacific #genesis-footer-widgets .widget.index-9,
.pacific #genesis-footer-widgets .widget.index-1 .widget-title,
.pacific #genesis-footer-widgets .widget.index-5 .widget-title,
.pacific #genesis-footer-widgets .widget.index-9 .widget-title {
	background-color: $super-light-gray;
	color: #000;
}

.pacific #genesis-footer-widgets .widget.index-2,
.pacific #genesis-footer-widgets .widget.index-6,
.pacific #genesis-footer-widgets .widget.index-2 .widget-title,
.pacific #genesis-footer-widgets .widget.index-6 .widget-title, {
	background-color: $bay-fog;
}

.pacific #genesis-footer-widgets .widget.index-3,
.pacific #genesis-footer-widgets .widget.index-7 {
	background-color: $med-gray;
}

.pacific #genesis-footer-widgets .widget.index-4,
.pacific #genesis-footer-widgets .widget.index-8 {
	background-color: $med-gray;
}

.pacific #genesis-footer-widgets .widget a,
.pacific #genesis-footer-widgets .widget.index-1 a,
.pacific #genesis-footer-widgets .widget.index-5 a,
.pacific #genesis-footer-widgets .widget.index-9 a {
	color: $founders-rock;
}

.pacific #genesis-footer-widgets .widget.index-2 a,
.pacific #genesis-footer-widgets .widget.index-6 a,
.pacific.light #genesis-footer-widgets .widget.index-2 a,
.pacific.light #genesis-footer-widgets .widget.index-6 a {
	color: $founders-rock;
}

.pacific #genesis-footer-widgets .widget.index-3 a,
.pacific #genesis-footer-widgets .widget.index-7 a,
.pacific #genesis-footer-widgets .widget.index-4 a,
.pacific #genesis-footer-widgets .widget.index-8 a {
	color: $bay-fog;
}

.pacific.light .site-header a,
.pacific.light .site-header a:hover
.pacific.light .site-header,
.pacific.light .site-description,
.pacific.light .site-footer {
	color: $pacific;
}

.pacific.light .site-footer a {
	color: $founders-rock;
}

.pacific.light .nav-primary .genesis-nav-menu a {
	color: #fff;
}

.pacific.light .nav-primary .genesis-nav-menu a:hover,
.pacific.light .nav-primary .genesis-nav-menu .current-menu-item > a,
.pacific.light .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $bay-fog;
}

.pacific.light .nav-primary {
	background-color: $pacific;
	color: #fff;
}

.pacific.light button.menu-toggle,
.pacific.light button.sub-menu-toggle,
.pacific.light button.menu-toggle:hover,
.pacific.light button.sub-menu-toggle:hover,
.pacific.light .nav-primary .genesis-nav-menu a {
	background-color: $pacific;
	color: #fff;
}

.pacific.light .nav-primary .genesis-nav-menu .sub-menu a {
	color: #fff;
}

.pacific.light .nav-primary .genesis-nav-menu a:hover,
.pacific.light .nav-primary .genesis-nav-menu .current-menu-item > a,
.pacific.light .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $bay-fog;
}

.pacific.light .nav-primary .genesis-nav-menu .sub-menu a {
	background-color: $pacific;
	border-color: darken($pacific, 10%);
}

.pacific.light .nav-primary .genesis-nav-menu > .right {
	color: #fff;
}

.pacific.light .sidebar .widget.widget_nav_menu,
.pacific.light .sidebar .widget_nav_menu,
.pacific.light .sidebar .widget_nav_menu a {
	background-color: #fff;
	color: $pacific;
}

.pacific.light .sidebar .widget_nav_menu a:hover {
	color: $lawrence;
}

.pacific.light .sidebar .widget_nav_menu li {
	border-color: $light-gray;
}

.pacific.light .site-footer .genesis-nav-menu .footer-menu a {
	background-color: $pacific;
	color: #fff;
}

.pacific.light .site-footer .genesis-nav-menu .footer-menu a:hover {
	color: $bay-fog;
}

.pacific.light .site-footer .genesis-nav-menu .footer-menu .social-icon {
	background-color: #fff;
}

.pacific.light .site-footer .genesis-nav-menu .footer-menu .social-icon a {
	background-color: $founders-rock;
	color: #fff;
}

.pacific.light .site-footer .genesis-nav-menu .footer-menu .social-icon a:hover {
	color: $bay-fog;
}

.pacific.light #genesis-footer-widgets .widget.index-1,
.pacific.light #genesis-footer-widgets .widget.index-5,
.pacific.light #genesis-footer-widgets .widget.index-9,
.pacific.light #genesis-footer-widgets .widget.index-1 .widget-title,
.pacific.light #genesis-footer-widgets .widget.index-5 .widget-title,
.pacific.light #genesis-footer-widgets .widget.index-9 .widget-title {
	background-color: $blue;
	color: #fff;
}

.pacific.light #genesis-footer-widgets .widget a {
	color: $bay-fog;
}

.pacific.light #genesis-footer-widgets .widget a:hover {
	color: $sather-gate;
}

.pacific.light #genesis-footer-widgets .widget.index-2 a:hover,
.pacific.light #genesis-footer-widgets .widget.index-6 a:hover {
	color: $blue;
}